table(style="width:850px;border-collapse: collapse;border-spacing: 0;border:none;table-layout: fixed;")
  tr(style="width:100%")
    td
      h1 !{header}
  tr(style="width:100%")
    td
      h2(style="border-bottom:1px dotted #999") Reset password instructions
  tr(style="width:100%")
    td
      p To recover your sign-in details, simply follow the link bellow:
      p <a href='#{link}' style="color: #0096d6; text-align:center; padding:10px; background:#eee"> Link </a>
      p(style="margin-top:20px;") If that doesn't work, don't hesitate to  <a href="/", style="color: #0096d6">contact us</a>
  tr(style="background:#eee; height:55px; text-align:center")
    td
      a(href="/", style="color: #0096d6") Visit us
    td
      a(href="/", style="color: #0096d6") Contact us


