$ cat .gitignore

*~     # no files with ending and logs ~
logs
*.log
*.md

# Dependency directory
node_modules

NOTES

# Config json file
# env.json.sample provided, just remove '.sample' and replace variables
env.json
