{
  "development": {
    "dbHost"        : "localhost",
    "dbPort"        : "27017",
    "dbName"        : "",
    "secret"        : "",
    "writeLog"      : true,
    "emailHost"     : "",
    "emailPort"     : 465,
    "emailSecure"   : "SSL",
    "emailUser"     : "user@gmail.com",
    "emailPassword" : "userPass",
    "emailFrom"     : "example@gmail.com",
    "emailAdmin"    : "example@gmail.com",
    "emailFromName" : "LoginSystem"
  },
  "production": {
    "dbHost"        : "localhost",
    "dbPort"        : "27017",
    "dbName"        : "",
    "secret"        : "",
    "writeLog"      : false,
    "emailHost"     : "",
    "emailPort"     : 465,
    "emailSecure"   : "SSL",
    "emailUser"     : "",
    "emailPassword" : "",
    "emailFrom"     : "example@gmail.com",
    "emailAdmin"    : "example@gmail.com",
    "emailFromName" : "LoginSystem"
  }
}

