.container
  h1 Reset password
  p.lead {{ ctrl.message }}
  div.col-md-10.col-sm-12(data-ng-show="ctrl.resetShow")
    div(uib-alert  ng-repeat="alert in ctrl.alerts", dismiss-on-timeout="5000", type="{{alert.type}}", close="ctrl.closeAlert()" ) {{alert.msg}}

    form.form-horizontal.col-md-12(name="ctrl.form" role="form", method="post" novalidate, autocomplete="off")

      .form-group(show-errors)
        label.control-label.col-xs-3 New Password
          span.icon-req.glyphicon.glyphicon-asterisk
        .col-xs-9

          input.form-control(type="text", name="password", placeholder="Password", data-ng-model="ctrl.user.password", data-ng-minlength="6",ng-maxlength="16", required="required", onfocus="this.removeAttribute('readonly')", readonly)

          span.help-inline.error(data-ng-if = "ctrl.form.password.$touched &&  ctrl.form.password.$error.required") Password required
          span.help-inline.error(data-ng-if = "ctrl.form.$invalid &&  ctrl.form.password.$error.minlength || ctrl.form.password.$error.maxlength") Password must be 6-16 character long

      .form-group(show-errors)
        label.control-label.col-xs-3 Repeat new password
          span.icon-req.glyphicon.glyphicon-asterisk
        .col-xs-9

          input.form-control(type="password", name="repeatPassword", placeholder="Repeat Password", data-ng-model="ctrl.user.repeatPassword", data-ng-minlength="4",required="required", equal-to="ctrl.user.password")

          span.help-inline.error(data-ng-if = "ctrl.form.repeatPassword.$touched && ctrl.form.repeatPassword.$error.equalTo") Password must be equal
      input(type="hidden", data-ng-model="ctrl.user._id")
      p.small Required fields
        span.icon-req.glyphicon.glyphicon-asterisk
      .form-group.text-right
        .col-xs-offset-2.col-xs-10
          button.btn.btn-primary(data-ng-click="ctrl.newPassword()") Update
          a.ml-15(href="", data-ng-click="ctrl.changePassword=!ctrl.changePassword") Cancel

